// Colors
$meli-white: #ffffff;
$meli-gray: #e7e7e7;
$meli-light-gray: #a2adb6;
$meli-dark-gray: #6c757d;
$meli-yellow: #ffe600;
$meli-blue: #3483fa;

$meli-dark-blue: #0056b3;

// Max content width
$meli-max-width: 1200px;
