@import '../../styles/mixins/responsive.scss';
@import '../../styles/variables.scss';

.search-bar {
  display: flex;
  justify-content: center;
  background-color: $meli-yellow;
  padding: 0.75rem;
  margin-bottom: 1rem;

  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    @include small {
      max-width: $meli-max-width;
    }
  }

  &__form {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__logo {
    display: flex;
    place-content: center;
    margin-right: 1.25rem;

    svg {
      height: 100%;
      width: 3.2rem;
    }
  }

  &__input {
    width: 100%;
    min-width: 200px;
    background-color: $meli-white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    outline: transparent;

    @include medium {
      max-width: $meli-max-width;
    }
  }

  &__submit {
    display: flex;
    place-items: center;
    position: absolute;
    right: 0;
    border: none;
    cursor: pointer;
    height: 42px;
    background-color: $meli-gray;

    i {
      font-size: 1.5rem;
      color: $meli-dark-gray;
    }
  }
}
