@import '../../../styles/variables.scss';

.results-item {
  display: flex;
  list-style: none;
  padding: 1rem;
  background-color: $meli-white;
  cursor: pointer;
  gap: 1rem;

  img {
    width: 10%;
    min-width: 7.5rem;
  }

  &__price {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__title {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  &__location {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 30%;
  }
}
