@import '../../styles/mixins/responsive.scss';
@import '../../styles/variables.scss';

.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;

  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: $meli-gray;
  }
}
